@import "../variables";

div.sidebar{
  border-top: none;
  height: 100%;
  width: $sidebar-width;
  padding-top: 20px;
  ul{
    list-style-image: url("../../img/components_elements/list_arrow.png") ;
    li{
      width: 110px;
      margin-bottom: 10px;
      padding: 5px;
      background-image: url("../../img/components_backgrounds/wood_background2.png");
      border: 2px solid $wood-font-color;
      background-size: 32px 32px;
      image-rendering: pixelated;
      a{
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}